@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Integral";
  src: url("/Demo_Fonts/Fontspring-DEMO-integralcf-extrabold.otf");
}
*, body {
  font-family: "Integral", sans-serif;
}
:root {
  --primary: #ffd9d9;
  --secondary: #5928e5;
}
.justify-items-end{
  justify-items: end;
}