@tailwind base;
@tailwind components;
@tailwind utilities;

.albert{
  /* font-family: 'Albert Sans', sans-serif; */
  }
  

html{
  scroll-behavior: smooth;
}

/* @font-face {
  font-family: "Integral";
  src: url("/Demo_Fonts/Fontspring-DEMO-integralcf-extrabold.otf");
}
*, body {
  font-family: "Integral", sans-serif;
} */
:root {
  --primary: #ffd9d9;
  --secondary: #5928e5;
}
.justify-items-end{
  justify-items: end;
}

.sub-title-secondary{
  @apply text-2xl md:text-4xl 
   lg:text-4xl text-white  font-bold text-center
}
.sub-title-tertiary{
  @apply text-xl md:text-3xl font-bold  text-gray-700 text-center
   border-b-2 pb-2 px-2 border-primary
}
.subtitle{
  /* line-height: ; */
}
.sub-title-primary{
  @apply text-2xl md:text-2xl
   lg:text-2xl text-primary font-black text-center leading-6 
   tracking-tight
  }
.input-primary{
  @apply mt-1 block w-full p-3 tracking-tight
  text-primary placeholder:text-indigo-300 
   focus:text-primary focus:outline-none
  focus:border-primary focus:ring-1 focus:ring-primary
}
.button-primary {
  @apply bg-primary text-secondary 
  hover:text-white hover:bg-black  p-3 px-14 rounded-none shadow-md 
  hover:px-14 transition-all duration-200 ease-in
  font-semibold  -tracking-normal hover:tracking-wider
}
.click{
  @apply flex flex-col z-50  lg:flex lg:order-2 justify-self-stretch lg:flex-row lg:py-0 lg:rounded-none bg-white  py-5  text-primary
}